extends layout.pug 

block content
    .center-container
        .enhanced-section.form-section
            h2 Buy Stock

            form(id="searchStock")
                .form-group
                    label(for="stock") Stock Symbol
                    input.stockSymbol(type="text", id="stock", name="stock", placeholder="e.g. AAPL", required)
                .form-group
                    label(for="quantity") Quantity
                    input.quantity(type="number", id="quantity", name="quantity", min="1", placeholder="Enter quantity", required)
                .form-group
                    button(type="submit") Buy
            #buyMessage
                // Success or error messages will appear here

    footer
        p &copy; #{new Date().getFullYear()} Stock Trading App
        script(src='/js/buying.js', defer)
