doctype html
html
    head
        title Stock Trading App - Home
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
    body
        header
            h1 Welcome to the Stock Trading App
        .center-container
            .auth-links
                a(href="#") Login
                |  or
                a(href="#") Register
            .split-container
                .stock-section.enhanced-section
                    .section-header
                        h2 Stock Highlights
                        button(type="button", id="refreshStocks", class="refresh-btn") &#x21bb; Refresh
                    .categories-selection
                        select(name="country", id="country")
                                option(value="") All Categories
                                option(value="Thailand") Thailand
                                option(value="USA") USA
                                option(value="China") China
                                option(value="UK") UK 
                                option(value="France") France
                        
                    if typeof homeStock !== 'undefined' && homeStock.length
                        ul.stock-list
                            each stock in homeStock 
                                li
                                    span.stock-initials #{stock.initials}
                                    |  - 
                                    span.stock-name #{stock.full_name}
                                    |  -
                                    span.stock_country #{stock.country}
                    else 
                        p No stocks found.
                .form-section.enhanced-section
                    h2 Find a Stock
                    form(id="searchForm")
                        .form-group
                            input(type="text", name="search", placeholder="Search by name")
                        .form-group
                            select(name="category")
                                option(value="") All Categories
                                option(value="Thailand") Thailand
                                option(value="USA") USA
                                option(value="China") China
                                option(value="UK") UK 
                                option(value="France") France
                        .form-group
                            button(type="submit") Search
                    ul#productList
                        // Products will be inserted here
        footer
            p &copy; #{new Date().getFullYear()} Stock Trading App
            script(src='/js/script.js', defer)