doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title WealthTracker Pro - Professional Portfolio Management
        //- Add your CSS links here
        link(rel="stylesheet", href="/css/headerStyle.css")


        //- Optionally add favicon or other meta

    body
        header.header
            .container
                nav.nav
                    .logo
                        a.logo-icon.btn(href="/") W
                        a.logo-text.btn(href="/") WealthTracker Pro

                    if user    
                        ul.nav-links
                            li: a.active(href="#dashboard") Dashboard
                            li: a(href="#portfolio") Portfolio
                            li: a(href="#analytics") Analytics
                            li: a(href="#research") Research
                            li: a(href="#") logout
                        .user-section


                            .notifications
                                span 🔔
                                .notification-badge 3
                            .user-profile
                                a.profile-img.btn(href="/profilePage") JD
                                .profile-details
                                    a.profile-name.btn(href="/profilePage")= user.name.split(' ')[0]
                                    a.profile-role Portfolio Manager

                    else    
                        ul.nav-links
                            li: a.active(href="#dashboard") Dashboard
                            li: a(href="#portfolio") Portfolio
                            li: a(href="#analytics") Analytics
                            li: a(href="#research") Research
                            li: a(href="/loginPage") login
                        .user-section



                block content

                block script

