extends layout 

block content 
    h1 Profile
    p Welcome to your profile page!

    if user
        ul
            li Username: #{user.name}
            li Email: #{user.email}
    else 
        ul 
            li Nobody's here